<!doctype html>
<html lang="en">
<head>
    <%- include('layouts/head'); %>

    <title>ThinkCorp — Page Not Found</title>
</head>

<body>
<%- include('layouts/navbar'); %>

<main>
    <section class="container py-4 py-md-5">
        <h1>Page Not Found</h1>
        <p class="lead my-3">
            It seems like you've stumbled upon an invalid page! Contact the developers if this is unexpected.
        </p>
    </section>
</main>

<%- include('layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Page Initialization Utilities -->
<script src="/scripts/util.js">
    // shortPageFooter() - Fix the footer to the bottom for short pages
</script>

<!-- Custom Scripts -->
<script>
    shortPageFooter();
</script>
</body>
</html>