<!doctype html>
<html lang="en">
<head>
    <%- include('layouts/head'); %>

    <!-- Home Specific Tags -->
    <meta name="description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
    <link rel="canonical" href="https://starter-node-express-bootstrap.herokuapp.com/"/>

    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://starter-node-express-bootstrap.herokuapp.com/">
    <meta property="og:title" content="Alectrify - Bootstrap Node.js/Express Template">
    <meta property="og:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
    <meta property="og:type" content="website">
    <!-- Insert preview image tag: https://ogp.me/ -->

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@alectrify_co">
    <meta name="twitter:creator" content="@alectrify_co">
    <meta name="twitter:title" content="Alectrify - Bootstrap Node.js/Express Template">
    <meta name="twitter:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
    <!-- Insert preview image tag -->

    <title>ThinkCorp</title>
</head>

<body>
<%- include('layouts/navbar'); %>

<main>
    <!-- Hero Section -->
    <section id="hero">
        <div class="container py-4 py-md-5">
            <div class="row align-items-center py-5">
                <div class="col-md-7">
                    <h1 class="display-3 fw-bold"><i class="fa fa-splotch"></i> ThinkCorp</h1>
                    <p class="lead my-3">
                        Creating inventive solutions for complex problems.
                    </p>
                    <p class="mb-0">
                        <button type="button" class="btn-pill btn-lg btn-primary me-3" data-bs-toggle="modal"
                                data-bs-target="#signupModal">Get Started
                        </button>
                        <a class="btn-pill btn-lg btn-info" href="#principles">Learn more</a>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/assets/idea.png" alt="Man with an idea" class="w-100">
                </div>
            </div>
        </div>
    </section>

    <!-- Principles Section -->
    <section id="principles" class="bg-primary text-dark">
        <div class="container py-4 py-md-5">
            <h1 class="font-slab">Principles</h1>

            <div class="row">
                <div class="col-md-3">
                    <h2>Modern</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa velit,
                        eleifend condimentum magna ut, pretium hendrerit erat. Morbi nec est porta, iaculis
                        sapien eu, ultrices arcu.
                    </p>
                </div>

                <div class="col-md-3">
                    <h2>Diverse</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa velit,
                        eleifend condimentum magna ut, pretium hendrerit erat. Morbi nec est porta, iaculis
                        sapien eu, ultrices arcu.
                    </p>
                </div>

                <div class="col-md-3">
                    <h2>Forward-thinking</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa velit,
                        eleifend condimentum magna ut, pretium hendrerit erat. Morbi nec est porta, iaculis
                        sapien eu, ultrices arcu.
                    </p>
                </div>

                <div class="col-md-3">
                    <h2>Practical</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa velit,
                        eleifend condimentum magna ut, pretium hendrerit erat. Morbi nec est porta, iaculis
                        sapien eu, ultrices arcu.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-info text-light">
        <div class="container py-4 py-md-5">
            <h1 class="font-slab">About</h1>

            <div class="row">
                <div class="col-md-8">
                    <h2>Our Company</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur fringilla sapien sed
                        posuere.
                        Aenean arcu tellus, pellentesque id tristique eget, pretium vel metus. Mauris eu mi mauris.
                        Fusce ac
                        laoreet dui. Fusce vitae velit nunc.
                    </p>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet
                        </li>
                    </ul>

                    <h2>Our Mission</h2>
                    <p>
                        Vestibulum enim mauris, vehicula in ante ut, elementum tincidunt dui. Mauris vulputate malesuada
                        mauris, hendrerit pellentesque tellus ultricies quis. Vivamus porttitor ullamcorper interdum.
                        Sed blandit ipsum vel enim sollicitudin, quis facilisis magna aliquet.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/meeting.png" alt="Workers at a meeting" class="w-100">
                </div>
            </div>

        </div>
    </section>
</main>

<%- include('layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Custom JavaScript -->
</body>
</html>