<!doctype html>
<html lang="en">
<head>
    <%- include('layouts/head'); %>

    <title>ThinkCorp — Terms of Service</title>
</head>

<body>
<%- include('layouts/navbar'); %>

<main>
    <section class="container py-4 py-md-5">
        <h1 class="font-slab">Terms of Service</h1>
        <p class="text-muted">Updated 17 March 2021</p>

        <h2>Work In Progress</h2>
        <p class="lead my-3">
            
        </p>
    </section>
</main>

<%- include('layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Page Initialization Utilities -->
<script src="/scripts/util.js">
    // shortPageFooter() - Fix the footer to the bottom for short pages
</script>

<!-- Custom JavaScript -->
<script>
    shortPageFooter();
</script>
</body>
</html>