<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>ThinkCorp - Settings</title>
</head>

<body class="bg-light">
<%- include('../layouts/navbar', {active: 'settings'}); %>

<main>
    <section>
        <div class="container py-4 py-md-5">
            <h1 class="font-slab mb-4">
                <i class="fa fa-cogs"></i>
                Settings
            </h1>

            <div class="mb-5">
                <h2>Change password</h2>
                <hr>
                <form id="changePasswordForm" class="needs-validation" action="/users?_method=PUT" method="post"
                      novalidate>
                    <div class="mb-3 has-validation">
                        <label for="oldPassword" class="form-label">Old password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword1" class="form-label">New password</label>
                        <input type="password" class="form-control" id="newPassword1" required>
                    </div>
                    <div class="mb-3 has-validation">
                        <label for="newPassword2" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="newPassword2" name="newPassword" required>
                        <div class="invalid-feedback">
                            Passwords do not match.
                        </div>
                    </div>

                    <button class="btn btn-secondary" type="submit">Update password</button>
                </form>
            </div>

            <div>
                <h2 class="text-danger">Delete account</h2>
                <hr>
                <p>
                    Deleting your account will delete all of your data.
                </p>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteModal"><i class="fa fa-trash"></i> Delete account
                </button>
            </div>
        </div>
    </section>
</main>

<!-- Delete Account Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? Your data will be permanently deleted.
                <form id="deleteForm" action="/users?_method=DELETE" method="post"></form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="deleteForm">Delete account</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Flash Alert -->
<% if (flash.length > 0) { %>
    <% flash.forEach((message) => { %>
        <div class="alert alert-info alert-dismissible fade show fixed-top mt-3 ms-3 d-inline-block w-md-25"
             role="alert">
            <strong><%= message %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Custom JavaScript -->
<script src="/scripts/change-password-form-validation.js"></script>
</body>
</html>